@import url("slider-style.scss");


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "PT Sans", sans-serif;
    margin: 0;
    line-height: 1.6;
    font-family: "Merriweather", "Helvetica Neue", Arial, sans-serif;
}

/******* Navigation ********/
nav {
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
    color: white;
}

/********* Logo ***********/
.nav-logo {
    float: left;
    background-color: white;
    color: green;
}

.nav-logo ul li {
    list-style: none;
    font-size: 11px;
    display: inline-block;
    text-align: left;
}

.nav-logo ul li p,
img {
    max-height: 50px;
}

/*********** Main Nav *************/
.main-nav {
    float: right;
    padding: 20px 0px 0px 0px;
}

.main-nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 2em;
    font-weight: 500;
}

.main-nav ul li a {
    text-decoration: none;
    color: green;
}

.main-nav ul li a:hover {
    text-decoration: underline;
}

.hamburger {
    display: none;
}

.mobile-nav {
    display: none;
}

/*********** Main Header Section *************/
.hero {
    /**background-image: url(../img/tea3.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;**/
    width: 100%;
    height: 70vh;
    overflow-y: hidden;
    position: relative;
}

.hero {
    padding-top: 50px;
}

.main {
    background-color: red;
    height: 500px;
}

.main2 {
    height: 500px;
    background-color: green;
}

/******************** Mobile ***********************/
@media only screen and (max-width: 768px) {
    .main-nav {
        display: none;
    }

    .mobile-nav {
        display: none;
    }

    .is-visible {
        display: block;
    }

    nav {
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
    }

    .hamburger {
        display: inline-block;
        margin-right: 40px;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    .nav-logo {
        width: 70%;
    }

    .hero {
        padding-top: 0px;
    }

    .hamburger .line {
        width: 30px;
        height: 2px;
        display: block;
        background-color: green;
        margin: 8px auto;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
    }


}